* {
    box-sizing: border-box;
  }

  header{
    font-family: "Noto Sans", sans-serif;
    color: blue; 
    font-weight: 250px;
    font-size: 20.8px;
}

  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  .page-header__item {
    flex: 0 1 200px;
  }
  
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  
.navigation-list {
    list-style-type: none;
  }
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
  }



body {
    font-family: "Noto Sans", sans-serif;
    background-color: #caebf2;
  }
  
        h1 {
            font-family: "Roboto Mono", monospace;
            color: blue;
        }
        
        h2 {
            font-family: "Roboto Mono", monospace;
            color: brown;
        }
        
        h3 {
            font-family: "Roboto Mono", monospace;
            color: brown;
        }
        
        h4 {
            font-family: "Roboto Mono", monospace;
            color:blue;
        }
  
.container {
    max-width:840px;
    margin: 0 auto;
}
.container > div{
    margin: 50px auto;
}
        
.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .5s;
}
.profile-picture:hover{
    filter:brightness(.75);
    box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}
#my-name{ 
    color: brown;
}

.about-list-item {
    font-style: italic;
    color:blue;
}



.intro{
    text-align: center;
}
.about-grid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.i-am,.i-like{
    text-align: center;
}
.about-list{
    list-style: none;
}

.projects-heading{
    text-align: center;
}
.projects-grid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.project-image-wrapper:hover {
    justify-self: center;
    padding: 4%;
    position: relative;
}
.project-image-wrapper:hover > h4 {
    visibility: visible;
    
}
.project-image-wrapper:hover > h4 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .5s;
}

.project-image{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .5s;

}
.project-image{
    justify-self: center;
    padding: 4%;
}
.project-image:hover{
    filter:brightness(.75);
    box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

form input, textarea{
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}
form input[type="submit"] {
    width: 250px;
}
/*Same buttons styling */
.submit-button-wrapper{
    margin:20px 0;
}
.button1{
    border: none;
    font-family: inherit;
    background-color: #000080;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

#submit-button {
    border: none;
    font-family: inherit;
    background-color: #000080;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

.button1:hover,.button1:focus, 
#submit-button:hover, #submit-button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.page-footer {
    clear: both;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#social{
    text-align: center;

}

/* always write responsive classes at the very end of CSS to ensure Overwritting*/
@media (max-width:600px){
    .grid-table{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto; 
    }
}

@media (max-width:650px){
    .projects-grid{
        grid-template-columns: 100%;
    }
}
@media (max-width:480px){
    .about-grid{
        grid-template-columns: 100%;
    }
}
@media (max-width:650px){
    .links-and-contacts{
        grid-template-columns: 100%;
    }
}

