/*
/*https://fonts.google.com/ reference for font embeding   or https://www.fontpair.co/ Free fonts and font pairings */
/*Tips for Chosing the right color https://www.color-hex.com/ or https://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF */
/*Tips for display best practice https://www.w3schools.com/css/css_display_visibility.asp*/
/*Tips for Best practices Web Content Accessibility https://www.w3.org/WAI/standards-guidelines/wcag/ */

/*Note that your code needs to be ordered From general rules to more specifics onbe */

/*Tips for mastering margin collapsing https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing*/


/*Tips TO TRY !!!!WORKING WITH VERTICAL SCRIPTS !!! Soo Cool!!!
https://www.w3.org/International/articles/vertical-text/

This Section is Full Stack // Intro Frontend - 
    Intro CSS  styling layout - Advanced CSS layout - CSS Preprocessors & CSS Variables 
            Styling Header - Footer 
            Building flexible layout using :
            Flexbox // CSS grid // media queries for mobile responsivness // 
            Customizing Buttons // Adding external links - To be completed with project...
            Adding icons to social media // adding personal files e.g CV Or contacts e.g email Or Phone
            Intro To CSS Frameworks - predefined set of code for creating and styling Website 
            --- Two most popular Frameworks  :
            Bootstrap: https://getbootstrap.com/
            Foundation: https://get.foundation/

*/

* {
    box-sizing: border-box;
  }

  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  .page-header__item {
    flex: 0 1 200px;
  }
  
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  
.navigation-list {
    list-style-type: none;
  }
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #caebf2;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}

p{
    color:brown;
}
h3{
    color:blue;  
}
h4{
    color:blue;  
}

.about-list-item {
    font-style: italic;
}

#my-name{ color:brown;
}

@media (max-width:600px){
    .grid-table{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto; 
    }
}

.container {
    max-width:840px;
    margin: 0 auto;
}

.intro{
    text-align: center;
}
.about-grid{
    display: grid; 
    grid-template-columns: 50% 50%;
}
.i-am,.i-like{
    text-align: center;
}
.about-list{
    list-style: none;
}

@media (max-width:480px){
    .about-grid{
        grid-template-columns: 100%;
    }
}
.projects-heading{
    text-align: center;
}
.projects-grid{
    display: grid; 
    grid-template-columns: 50% 50%;
}
.project-image{
    justify-self: center;
    padding: 4%;
}
@media (max-width:650px){
    .projects-grid{
        grid-template-columns: 100%;
    }
}

.container > div{
    margin: 50px auto;
}

.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .5s;
}
.profile-picture:hover{
    filter:brightness(.75);
    box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

.project-image-wrapper:hover {
    justify-self: center;
    padding: 4%;
    position: relative;
}
.project-image{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .5s;

}
.project-image:hover{
    filter:brightness(.75);
    box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

.project-image-wrapper:hover > h4 {
    visibility: visible;
    
}
.project-image-wrapper:hover > h4 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .5s;
}
 
form input, textarea{
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}
form input[type="submit"] {
    width: 250px;
}

.links-and-contacts{
    display: grid; 
    grid-template-columns: 50% 50%;    
}

.page-footer {
    clear: both;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#social{
    text-align: center;

}

@media (max-width:650px){
    .links-and-contacts{
        grid-template-columns: 100%;
    }
}

.submit-button-wrapper{
    margin:20px 0;
}

#submit-button {
    color: blue;
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;

    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

#submit-button:hover, #submit-button:focus {
    cursor: pointer;
    opacity: 0.8;
}
